body{
    background-color: #b8b8b8;
}

.imagens{
    margin:10px;
    background-color: #F5F5DC;
    width: 310px;
    float: left;
}

.imagens img{
    width: 270px;
    padding:10px;
}

.imagens h2{
    margin: 10px;
}

.galeria p{
    font-family: "opensans-regular", Arial, sans-serif;
    line-height: 24px;
    float: left;
}
