.noticia{
  font-family: "opensans-regular", Arnaldo, sans-serif;
  background-color: #F5F5DC;
  border: 1px solid black;
  color: #333;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
  line-height: 24px;
  width: 500px;
  margin: 20px;
  float: right;
}

.noticia h1{
  color: #c4170c;
  font-family: "Helvetica Neue", Arnaldo, sans-serif;
  margin: 8px;
}
